@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-path: "../css/fonts/openSans/OpenSansLight/OpenSansLight";
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    font-path: "../css/fonts/openSans/OpenSansLightItalic/OpenSansLightItalic";
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-path: "../css/fonts/openSans/OpenSansRegular/OpenSansRegular";
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    font-path: "../css/fonts/openSans/OpenSansRegularItalic/OpenSansRegularItalic";
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-path: "../css/fonts/openSans/OpenSansSemiBold/OpenSansSemiBold";
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    font-path: "../css/fonts/openSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic";
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-path: "../css/fonts/openSans/OpenSansBold/OpenSansBold";
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    font-path: "../css/fonts/openSans/OpenSansBold/OpenSansBoldItalic";
}