doctype html
html(lang="en")
    include ./components/_head.pug
    body
        include ./components/_header.pug
        section
            img(src="./img/lynx.png")
            p This template is based on the gulp task manager. Its main purpose is layout.
            p You can also include js and css libraries using npm.
        include ./components/_footer.pug